<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        .td2 {
            height:30px;             /*单元格高度*/
            /*width: 90px;*/
        }
        .td1{
            /*height:30px;             !*单元格高度*!*/
        }
    </style>
</head>
<body>
<p>
<table border="0" cellspacing="0" cellpadding="0"  style="border-spacing:10px 10px;">
    <span style="font-weight:bold">项目简介</span>
    <tr>
        <td class="td1">本程序需要配合浏览器食用;</td>
    </tr>
    <tr>
        <td class="td1">本程序可以按选定速度从后台推送txt文本到浏览器,实现自动阅读功能;</td>
    </tr>
    <tr>
        <td class="td1">本程序可以批量处理txt文本,包括格式化段落,替换文本中指定字符,转换文本编码格式等;</td>
    </tr>
    <tr>
        <td class="td1">本程序可实现接入者在线聊天;</td>
    </tr>
</table>

<p>
<table border="0" cellspacing="0" cellpadding="0" style="border-spacing:10px 1px;">
       <span style="font-weight:bold">技术选型</span>
        <tr>
            <td class="td2">springboot</td>
            <td class="td2">2.2.6</td>
            <td class="td2">websocket</td>
            <td class="td2">2.2.6</td>
            <td class="td2">spring security</td>
            <td class="td2">2.2.6</td>
            <td class="td2">spring cache</td>
            <td class="td2">2.2.6</td>
        </tr>
        <tr>

            <td class="td2">redis</td>
            <td class="td2">2.2.6</td>
            <td class="td2">mybatis</td>
            <td class="td2">3.4.4</td>
            <td class="td2">druid</td>
            <td class="td2">1.1.4</td>
        </tr>
        <tr>
            <td class="td2">mysql</td>
            <td class="td2">5.1.47</td>
            <td class="td2">maven</td>
            <td class="td2">3.6</td>

        </tr>
    <tr>
        <td class="td2">jquery</td>
        <td class="td2">1.10.2</td>
        <td class="td2">bootstrap</td>
        <td class="td2">3.3.7</td>
        <td class="td2">select2</td>
        <td class="td2"></td>
        <td class="td2">thymeleaf</td>
        <td class="td2">2.2.6</td>
    </tr>
    </table>

<p>
<table border="0" cellspacing="0" cellpadding="0" style="border-spacing:10px 1px;">
    <span style="font-weight:bold">工具组件</span>
    <tr>
        <td class="td2">log4j</td>
        <td class="td2">2.12.1</td>
        <td class="td2">lombok</td>
        <td class="td2">1.18.12</td>
        <td class="td2">guava</td>
        <td class="td2">28.0-jar</td>
        <td class="td2">commons-lang3</td>
        <td class="td2">3.9</td>
    </tr>
    <tr>
        <td class="td2">hutool</td>
        <td class="td2">5.1.0</td>
        <td class="td2">dom4j</td>
        <td class="td2">1.6.0</td>
        <td class="td2">fastjson</td>
        <td class="td2">1.2.68</td>
        <td class="td2">commons-pool2</td>
        <td class="td2">2.7.0</td>
    </tr>

</body>
</html>